@use "@/styles/variables" as *;
@use "@/styles/mixins" as *;

.header {
  background: $blue-color;
  width: 100vw;
}

.container {
  @include container;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
}

.headline {
  font-size: 20px;
  color: $white-color;
  font-style: italic;

  &:hover {
    cursor: pointer;
  }

  @include mobile {
    font-size: 16px;
  }
}

.userBlock {
  display: flex;
  gap: 15px;
  align-items: center;
}

.text {
  color: white;

  @include mobile {
    font-size: 12px;
  }
}

.button {
  color: white;
  text-decoration: underline;
}
