@use "@/styles/variables" as *;
@use "@/styles/mixins" as *;

.page {
  @include page;
}

.container {
  @include container;
  margin: 25px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.products {
  display: flex;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;
}
